.container {
  background-color: var(--secondary-color);
  padding: 20px;
  margin: 20px 0;
}

.categories {
  background-color: var(--secondary-color);
}

.arrowIcon {
  font-size: 0.9rem;
  transition: transform 0.3s ease;
}

.seeMore:hover .arrowIcon {
  transform: translateX(5px);
}

/* Make it responsive */
@media screen and (max-width: 768px) {
  .container {
    padding: 0px;
    margin: 0px auto;
  }

  .title {
    font-size: 1.2rem;
  }

  .categories {
    gap: 15px;
  }

  .categoryItem {
    min-width: 70px;
  }

  .seeMoreIcon {
    width: 30px;
    height: 25px;
    object-fit: contain;
    margin-top: 1px;
  }
}
