.headerContainer {
  display: none; /* hidden by default (desktop/tablet) */
  width: 100%;
  justify-content: center;
  margin-top: 60px;
}

.headerImage {
  width: 100%;
  height: auto;
  aspect-ratio: 1398 / 752;
  display: block;
  border-radius: 15px;
  object-fit: cover;
  max-width: 1400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Show only on mobile devices */
@media screen and (max-width: 768px) {
  .headerContainer {
    display: flex;
  }

  .headerImage {
    width: 90%;
    aspect-ratio: 1398 / 752;
  }
}
