.headerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.headerImage {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
  background-color: #f9db08;
  object-fit: contain;
  max-height: 200px;
  max-width: 1400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Make image more compact on mobile devices */
@media screen and (max-width: 768px) {
  .headerImage {
    width: 90%;
    max-height: 120px;
    height: 120px;
    object-fit: contain;
  }
}
