.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
}

.menuIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menuIcon.active {
  transform: rotate(90deg);
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  font-weight: 500;
}

.positionIcon {
  width: 24px;
  height: 24px;
}

.iceCreamIcon {
  width: 35px;
  height: 35px;
  margin-left: auto;
}

/* For mobile devices */
@media screen and (max-width: 768px) {
  .logo {
    font-size: 1.2rem;
  }

  .positionIcon,
  .searchIcon {
    width: 16px;
    height: 16px;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.logo {
  animation: pulse 1.5s infinite ease-in-out;
}
